name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      ASPNETCORE_ENVIRONMENT: Staging

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Build Stack
      run: docker-compose build

    - name: Unit Test
      run: dotnet test Test.Scopes.UnitTest --no-build --verbosity normal

    - name: Integration Test
      run: dotnet test Test.Scopes.IntegrationTest --no-build --verbosity normal

    - name: E2E Test
      run: docker-compose up --abort-on-container-exit --exit-code-from e2e
    - name: Get E2E results
      run: cat e2e/cypress/results/output.xml
